{% extends "base.html" %}

{% block body %}
<div class="row-fluid">
	<div class="span10">
		<h4>Please fill in your name to respond to the invitation</h4>
		<h5>So far, 
			{% if total==0 %} no one {% elif total==1 %} one person {% else %} {{ total }} people {% endif %}
			responded</h5>
			<div class="description">
				<p>
				</p>
			</div>
			<div class="main">
				{% if name %}
				<h3>Hello, {{ name }}, thanks for responding!</h3>
				{% else %}

				<form class="form-inline" action="" method=post>
				<p>		  
					<label class="checkbox">
						<input type="checkbox" name="accept" value="true" checked> Accept invitation
					</label>
				</p>
				<p>
					<input type="text" class="input" name="name" placeholder="Your Name...">
					<button type="submit" class="btn">Send</button>
					{% if error %}
						<div class="error">
							{{ error }}
						</div>
					{% endif %}
				</p>
			</form>

			{% endif %}
		</div>
		{% if file_text %}
		<div class="file">
			<form action="" method=post>
				<textarea name="file_text" cols="30" rows="15" id="file_text">{{ file_text }}
				</textarea>
				<br>
				<input type="submit" value="Save"/>
			</form>
		</div>
		{% endif %}
	</div></div>
{% endblock body %}
