
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<link rel="icon" type="image/ico" href="/static/favicon.ico">
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<title>RVSP</title>
	<!-- Le style -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/static/style.css" rel="stylesheet">
	<!--link rel="stylesheet" href="/static/jquery-ui.css" /-->
	<link href="/static/bootstrap.min.css" rel="stylesheet">
	<!--link href="/static/glyphicons.css" rel="stylesheet">
	<style type="text/css">
	[class^="icon-"] { background-image: url("/static/glyphicons-halflings.png"); } 
	[class*="icon-white"] { background-image: url("/static/glyphicons-halflings-white.png"); } 
	[class^="glyphicon-"] { background-image: url("/static/glyphicons.png"); } 
	</style-->

	<!-- Le JS -->
	<!--script src="/static/jquery-1.8.3.js"></script-->
	<!--script src="/static/jquery-ui.js"></script-->
	<script type="text/javascript" src="/static/bootstrap.min.js"></script>	
</head>
<body>
	<div class="navbar">
	<div class="navbar-inner">
	<div class="container">
	<a class="brand" href="#">Répondez s'il vous plaît</a>
	<div class="nav-collapse pull-left">
		<!--ul class="nav">
		<li class="active"><a href="#">תל-אביב/חיפה</a></li>
		<li><a href="#">ירושלים/באר-שבע</a></li>
		<li><a href="#">תל-חי/נהריה</a></li>
		</ul-->
	</div><!--/.nav-collapse -->
	</div><!--/.container -->
	</div><!--/.navbar-inner -->
	</div><!--/.navbar -->
	<div class="row-fluid">
	<div class="span10">
	<h4>Please fill in your name to respond to the invitation</h4>
	<h5>So far, 
			{% if total==0 %} no one {% elif total==1 %} one person {% else %} {{ total }} people {% endif %}
			responded</h5>
	<div class="description">
		<p>
		</p>
	</div>
	<div class="main">
	{% if name %}
		<h3>Hello, {{ name }}, thanks for responding!</h3>
	{% else %}
		<form action="" method=post>
			<table>
				<tbody>
					<tr>
						<td>
							<input name="name" input="text" placeholder="John Doe">
							<input type="submit" value="Send"/>
						</td>
					</tr>
					{% if error %}
					<tr><td>
						<div class="error">
							{{ error }}
						</div>
					</tr></td>
					{% endif %}
				</tbody>
			</table>
		</form>	
	{% endif %}
	</div>
	{% if file_text %}
	<div class="file">
		<form action="" method=post>
		<textarea name="file_text" cols="30" rows="15" id="file_text">{{ file_text }}
		</textarea>
		<br>
		<input type="submit" value="Save"/>
	</form>
	</div>
	{% endif %}
</div></div>
	<br><br>
	<div class="colophon" dir="ltr">
			Powered by <a href="http://python.org/" target="_blank">Python</a> & <a href="http://flask.pocoo.org/" target="_blank">Flask</a>.<br>
			Web app hosted by for <em>free</em> by <a href="http://heroku.com/" target="_blank">Heroku</a>.
			<br>
			Code <em>freely</em> availabe on <a href="http://github.com/yoavram/rsvp/" target="_blank">github</a>.
			<br>
			<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
				<img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" /></a>
			<br>
	</div>
</body>
</html>
